body{
    width:100%;
    height:100%;
    overflow-y: scroll;
}

nav{
    position: fixed;
    top: 0;
    width:100%;
    height:.5rem;
    z-index:999;

    ul{
        list-style-type: none;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-content: space-between;
        width:100%;
        background-color:pink;
        padding:.5em;

        li{
            margin-left:8%;

            a{
                color:#fff !important;
                font-weight:bold;
                text-decoration:none !important;
            }
        }
    }
}

header{
    height:100vh;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    text-align:center;
    font-size:3em;
    display:flex;
    align-content: center;
    justify-content: center;

   #container{
       
       perspective: 3rem;

       #effet1{
           margin-top:40vh;
           padding:.5em;
        //    background-color:rgba(255,255,255,.2);
        background:black;
           transition: transform 0.5s;
            -webkit-transition: transform 0.5s;
            -moz-transition: transform 0.5s;
            -o-transition: transform 0.5s;
            height:11vh;

           h2{
               color:lightgrey;
           }
       }

   }
}

main{

    #about{
        height:100vh;
        margin-top:0;
        padding-top:1rem;
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
        background:#fff;

        .imgAbout{
            margin-left:2rem;
            
            img[alt="test_my"]{
                max-width:400px !important;
                height:auto;
                border-radius:20px;
                margin-top:2em;

            }
        }


        .about{
            padding:2em;

            h3{
                text-align:center;
                font-size:2.5rem;
            }

            p{
                width:70%;
                margin-left:auto;
                margin-right:auto;
                margin-bottom:10vh;
            }

            .row {
                display:flex;
                flex:row;
                flex-wrap:wrap;
                justify-content: space-evenly;
                align-content: stretch;

                div{
                    width:50%;
                    text-align:justify;

                    h4{
                        text-align:center;
                        font-size:2rem;
                        margin-bottom:.5em;
                    }

                    p{
                        font-size:.9em;
                    }
                }
            }
        }


    }
}

#labo, #contact{
    height:100vh;
    padding:2em;

    h3{
        text-align:center;
        font-size:2.5rem;
    }

    p{
        width:70%;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:10vh;
    }
}

#labo {
    .row{
        display:flex;
        justify-content: space-evenly;
        flex-wrap:wrap;
        height:70vh;


        .card{
            width:30%;
            height:29vh;
            align-self:flex-start;

            &:nth-child(2n){
                align-self:center;

                &:before{
                    border:5rem solid red;
                    padding:3rem;
                }
            }

            &:nth-last-child(1){
                align-self:flex-end !important;
            }
        }


    }
}



#contact {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    display:flex;
    flex:row;
    align-items:center;
    justify-content: space-around;

    .imgContact{
        width:40%;
        margin-left:10vh;

        img[alt="contactImg"]{
            max-width:400px !important;
            height:auto;
        }
    }

    .contactForm{
        height:80vh;
        margin-top:2em;
        
        width:50%;

        form {
            width: 90%;
            display:flex;
            flex-flow: column;  
            margin:auto;
  

          .fieldsetFirst{
            display:flex;
            flex-wrap:wrap;
            justify-content: space-between;


            div{
                width:48%;
                position:relative;
                overflow:hidden;

                input{
                    width: 100%;
                    padding: .5rem;
                    background:lightblue;
                    margin: 1.5rem 0;
                    border: .3 rem solid rgb(0, 108, 170);
                    color: black;
                    font-size: 1.125rem;


                    &:focus{
                        background: lightblue;
                        outline: 0;

                        +label{
                            top: .4em;
                            font-size: 1.125rem;
                            transform: translateY(0);
                            left: 0;
                            opacity: 1;
                            color:#fff;
                        }

                        &:hover{
                            +label {
                                top: .4em;
                                font-size: 1.125rem;
                                transform: translateY(0);
                                left: 0;
                                opacity: 1;
                                color:black;
                            }
                        }

                        &:valid{
                            +label{
                                top: 0;
                                font-size: 1.125rem;
                                transform: translateY(0);
                                left: 0;
                                opacity: 1;
                            }
                        }
                    }
                }

                label{
                    position: absolute;
                    opacity: 0.6;
                    font-size: 1.25rem;
                    left: 1rem;
                    pointer-events: none;
                    color: black;
                    transition: all .22s;
                    top: 50%;
                    transform: translateY(-50%);
                    display: block;
                }
            
            }

        }


        .fieldsetSecond{
            display:flex;
            flex-flow:column;
            margin-bottom:1vh;

            div{
                width:100%;
                position:relative;
                overflow:hidden;

                textarea{
                    width: 100%;
                    padding: 1.5rem;
                    background: #222;
                    margin: 1.5rem 0;
                    border: none;
                    color: #aaa;
                    font-size: 1.125rem;
                }

                label{
                    position: absolute;
                    opacity: 0.6;
                    font-size: 1.25rem;
                    left: 1rem;
                    pointer-events: none;
                    color: #f2cb79;
                    transition: all .22s;
                    top: 50%;
                    transform: translateY(-50%);
                    display: block;
                }
            }
        }
    }

}

footer{

        position: fixed;
        bottom: 0;
        width:100%;
        height:.5rem;
        padding:.5rem;
        background-color:pink;
        display:flex;
        justify-content: space-between;

        ul{
            list-style-type: none;
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-content: space-between;
            width:65%;
            padding:.5em;
    
            li{
                margin-left:8%;
    
                a{
                    color:#fff !important;
                    font-weight:bold;
                    text-decoration:none !important;
                }
            }
        }
    }
}

